.button {
  visibility: hidden;
  position: fixed;
  right: 24px;
  bottom: 24px;
  z-index: 100;
  width: 48px;
  height: 48px;
  opacity: 0;
  transition:
    opacity 0.25s ease,
    transform 0.25s ease,
    visibility 0.25s ease,
    background-color 0.15s ease;
  transform: translateY(16px);
  box-shadow:
    0 10px 25px -5px rgb(37 99 235 / 35%),
    0 8px 10px -6px rgb(0 0 0 / 10%);

  &:hover {
    transform: translateY(-2px);
  }

  @media (width <= 768px) {
    right: 16px;
    bottom: 16px;
    width: 44px;
    height: 44px;
  }
}

.visible {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);

  &:hover {
    transform: translateY(-2px);
  }
}
