.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-bg-primary);
  overflow-x: clip;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
}
